@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
  margin: 0px;
  padding:0%;
  box-sizing: border-box;
  font-family: poppins sans-serif;
}

body{
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
.step1{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(./image/bg.jpg) rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-blend-mode: darken;
  
}
.container{
  max-width: 700px;
  /* width:100%; */
  text-align: center;
}
.container h2{
  font-size: 50px;
  
  color: #fff;
}
.container p{
  font-size: 22px;
  color: white;
  margin-top: 20px;
  opacity: 50%;
  padding:0 1em;
}
.container a{
  font-size: 1em;
  background-color: #ff0517;
  text-decoration: none;
  transition: 0.5s;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  
}

#btn{
padding: 10px 10px;
margin-top: 20px;
display: inline-block;
border:2px solid red;
border-radius: .8em;
font-weight: bold;
}
#btn:hover{
  /* letter-spacing: 2.8px; */
  border:2px solid red;
  background-color: white;
  color:red;
  }
/* .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    padding-top:1em;
    background-color: rgba(254, 254, 254, 0);
    z-index: 10000;
    transition: 0.5s;    
    display: flex;
    padding: 15px 10px;
    
    justify-content: space-evenly;
    align-items: center;
}  */

.menu {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 99;
    /* background-color: rgba(255, 255, 255, 0.372); */
    background-color: rgb(0, 0, 0);
    padding:1em;
}
.menu .logo {
    text-decoration:none;
    font-weight: bold;
    color:black;
    font-size:1.2em;
}
.menu .logo span{
    color:rgb(159, 150, 127);
}
.menu nav {
    display: none;
}

nav.menu-btn {
  display: block;
}


nav{
   position: fixed;
    z-index: 999;
    width:66%;
    right:0;
    top:0;
    background:  rgb(20, 19, 19) ;
    height: 100vh;
    padding: 1em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: left;
}
nav li a:hover {
  font-weight:bold;
}
.mobile-menu-exit {
  float: right;
  /* z-index: 9999; */
  width:1em;
  margin: .5em;
  cursor: pointer;
  display:none;
}


 .nav-bar {
    display: flex;
    padding:0 1em;
    place-content: space-between;
}
.mobile-menu {
    cursor:pointer;
}

.menu.sticky{
  /* background-color:rgb(255, 255, 255); */
  background-color:rgb(0, 0, 0);
  /* padding: 15px 100px; */
  /* padding:15px 1em; */
  /* box-shadow: 0px 5px 20px  rgba(0, 0, 0, 0.9); */
}

.menu.sticky ul li a{
  color: rgb(255, 255, 255);
  /* border-bottom: 2px solid transparent; */
  /* padding-bottom: 5px; */
}
.menu ul li a:hover{
  color: #ff0517;
  /* border-bottom-color: red; */
}
.menu .logo{
  color: #ff0517;
  font-size: 30px;
  /* margin-left: -550px; */
  text-decoration: none;
  letter-spacing: 0px;
  /* margin-left: -100px; */
  }
.menu .logo #sct{
  color:#fff;
  font-size: 25px;
}
.menu ul{
  /* display: flex;------------- */
  position: relative;
  list-style: none;
  margin-left: 400px;
}

.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 200;
}
#outer{
  width:60px ;
  position: relative;
  background-color: rgb(255, 0, 0);/*white*/
  border-radius: 50px;
  height: 22px;
}
#inner{
  display: flex;
  width: 30px;
  height: 20px;
  border-radius: 50%;
  background-color: #111;
  justify-content: first baseline;
  align-items:center;
  margin-top: 5px;
  cursor: pointer;
}

.cards {
  list-style-type:none;
  padding:0;
  line-height: 1.5em;
  /* display: flex; */
}

.tog{
  background-color: #c7e5f5da;
}

/*-------------------card-------------------------*/
.card0 , .card1 , .card2 , .card3 ,.card4 , .card5 {
  background-color: white;
  border-radius: 2em;
  text-align: center;
  width: 80%;
  padding:1em 0;
  /* box-shadow: whitesmoke 20px 20px 40px; */
  box-shadow: 0 0 15px #aaaaaa;
  margin:0 auto;
  margin-bottom: 1em;
}
.card0 img, .card1 img , .card2 img , .card3 img ,.card4 img , .card5 img {    
  display: flex;
  width:80%;
  margin:0 auto;
  border-radius: 0;
}
.card0 h5, .card1 h5 , .card2 h5 , .card3 h5 ,.card4 h5 , .card5 h5 { 
  font-size: 1em;
  color:grey;
}

.card0 .card-text, .card1 .card-text, .card2 .card-text, .card3 .card-text,.card4 .card-text, .card5 .card-text{  
  margin-top:.5em;
  padding:0 1em;
}
.card0 ul, .card1 ul, .card2 ul, .card3 ul,.card4 ul, .card5 ul{
  text-align: left;
  display:inline-block;
  margin:0 auto;
}

.card0 a, .card1 a, .card2 a, .card3 a,.card4 a, .card5 a{
  text-decoration:none;
  color:black;
  padding:.5em 1.5em;
  background-color: white;
  border-radius: .5em;
  border: 1px solid black;
  
}
.card0 a:hover, .card1 a:hover, .card2 a:hover, .card3 a:hover,.card4 a:hover, .card5 a:hover{
  text-decoration:none;
  color:grey;
  padding:.5em 1.5em;
  background-color: white;
  border-radius: .5em;
  border: 1px solid black;
  
}

.card0 p, .card1 p, .card2 p, .card3 p,.card4 p, .card5 p{
  
  margin-bottom: .5em;
  
}
.card0 .card-text, .card1 .card-text, .card2 .card-text, .card3 .card-text,.card4 .card-text, .card5 .card-text{
  margin-top:5px;
}
/*-----------------------------------------------------*/


body.demo{
  background-color: #2b2b2b;
}
.contain.demo{
  background-color: #fff;
  color: #111;
}
.testimony.demo{
  background-color: #111;
}
#wrapper #wek {
  /* opacity: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:0 1em;
  margin-bottom: 1em;
  
}

.card-group {
  display: flex;
  justify-content: center;
  
}

.wrapper img{
  border-radius: 1em;
}

.contain img{
  border-radius: 50px;
}
.contain button{
  margin-left: 20px;
}
.contain small{
   margin-left: 20px;
}
.wrapper button{
  margin-left: 20px;
  text-decoration: none;
  border: #fff 1px solid;
}


.caro{
  background: black;
  
}

#work{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding-top: 40px;
  padding-bottom: 5px;
  /* text-transform: lowercase; */
  text-align: center;  
  font-size: 2em;
  color:white;
}
.caro img{
  background-blend-mode: darken;
  background: rgba(0, 0, 0, 0.7);
}
.carousel-inner img{
  /* height: 400px; */
  width:100%;
  aspect-ratio: 16/9;

  
}
.carousel-inner{
  background: rgba(0, 0, 0, 0.7);
}



#testimonials{/*heading*/
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: #ff0517;
  margin-top: 25px;
  /* font-weight: 300; */
  text-align: center;  
  font-size: 2em;
}
.testimony{
  /* max-width: 1450px;
  margin:  0 auto;
  padding: 20px 30px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  background-color: #fff;
  font-size: 15px; */
  list-style-type: none;
  padding:0;

}
.testheader{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.testheader h3{
  font-size: 15px;
  margin:0;
}
.testheader p{
  opacity: 50%;
  margin: 0;
  /* margin-left: 20px; */
}

.text1 img , .text2 img ,.text3 img , .text4 img , .text5 img{
  width:1.5em;
  height:1.3em;
  /* background-color:blue; */
}
.testheader img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid purple;
  margin-right: 5px;
}
.text1 , .text2 , .text3 ,.text4 , .text5{
  padding:2em 2em 1em 2em;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px #aaaaaa;
  font-size: .9em;
  border-radius: 1em;
  display: block;
  margin:0 auto;
  width: 70%;
  margin-bottom: 2em;
}


.nav-bar ul{
  margin-top:4em;
  margin-left: 0;
}
#enroll{
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  margin-bottom: .4em;
  text-align: center;  
  font-size: 1.6em;
}
#carouselExampleCaptions{
  display: flex;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .mobile-menu , .mobile-menu-exit {
    display: none;
  }
  .nav-bar{
    display: grid;
    grid-template-columns: 180px auto;
  }
  .nav-bar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height:auto;
    width:100%;
    padding: 0;
  }
  .nav-bar nav ul {
    display:flex;
    margin:0;
  }
  .nav-bar nav ul li{
    margin:auto 0;
  }
  .nav-bar nav ul a{
    color: rgb(255, 255, 255);
    font-size: 1em;
    padding: .1em 1.2em;
  }



  #enroll{
    
    margin-bottom: .4em;
    text-align: center;  
    font-size: 2em;
  }
  .cards {
    display:flex;

  }
  .cards li{
    margin:0 .5em;
  }


  /*-----------------------------------------------*/
  .mobile-menu-exit , .mobile-menu {
    display: block;
  }
  .menu .djbd{
    display: flex;
    justify-content: space-between;
    background: none;/*none*/
    position: unset;
    height:auto;
    /* width:100%; */
    padding: 0;
  }
  .menu .djbd ul {
    display:flex;
    padding:0;
    margin:0;
    
  }
  /* .menu .djbd ul li {
    justify-content: center;
    
  } */
  .menu .djbd ul a {
    color:white;
    font-size:1em;
    
    /* padding:.1em 1em; */
    
  }

  /*---------------------------------------------------*/

}/*media ends*/

@media (min-width:1080px){
  .testimony {
    display:flex;

  }
  .testimony li{
    margin:0 .5em;
  }
  .abut {
    margin-top: 2em;
  }
  .abut h3{
    padding: .5em;
  }

  
  #carouselExampleCaptions{
    height: 600px;
    /* display: flex; */
    margin: 0 10em;
  }
  #pln{
    margin: 5em;
  }
  #ima {
    width:1062px;
    height: 600px;
    aspect-ratio: 9/16;
  }

  .oga {
    display: flex;
  }
  .oga p{
    margin:auto 0;
  }
 
  .contact-section{
    position: relative;
    padding: 10em 4em;
  }
  .contained {
    /* place-content: space-between; */
    display:flex;
    width: 1080px;
    margin: auto;
  }
  .contact-left {
    width:30em;
    padding:0 2em;
  }
  .map{
    position: absolute;
    right:0;
    top:0;
    width: 35%;
    height:100%;
    margin:10em 135.6px;
    margin-bottom: 0;
  }
  .map iframe{
    height:70%;
  }

}/*media ends*/


.abut{
  background-color: #111;
}
.abut h3{
  text-align: center;  
  font-size: 2em;
  color:white;
  font-weight: 100;
}
.oga p{
  /* width: 400px;
  margin-left: 800px; */
  color: rgb(203, 202, 202);
  padding:1em 3em;
}
.abut img{
  padding:2em;
  width:100%;
  opacity: 50%;
}


.contact-section {
  /* position: relative; */
  padding:80px 32px;
}
.contained h1 {
  text-align: center;  
  font-size: 2em;
}
.contained label {
  display: block;
  font-size: 1.2em;
  margin:0 0 .2em 0;
  padding-left:.5em ;
}
.contained input ,.contained textarea{
  width: 100%;
  padding:.5em;
  margin: 0 0 1em 0;
  border-radius:.5em;
  border: 1px solid gray;
  box-sizing: border-box;
}
.contained input[type ="submit"]{
  background-color: rgba(25, 145, 197, 0.977);
  color: white;
  font-weight: bold;
  font-size:1.3em;
  border:none;
  /* margin: 0 0 5em 0; */
  border-radius: 5em;
  
  padding:.3em 1.5em;
  width:unset;
  cursor: pointer;

  display:flex;
  
  margin:0 auto;
  margin-bottom: 5em;
}
iframe{
  width:100%;
  height: 350px;
}

.supporter img{
  width: 50px;
  border-radius: 50px;
}
.supporter{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#cool{
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact, #cool, #work {
  text-transform: capitalize;
}
.card5 button a,.card4 button a,.card3 button a,.card2 button a,.card1 button a,.card0 button a{
  text-decoration: none;
  padding: 2px 2px 2px 2px;
  border-radius: 2px;
  border: 1px solid black;
  color: black;
}
footer{
  position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 619%;
background: #A7FFDD;
}
footer h4{
  position: absolute;
width: 304px;
height: 33px;
left: 568px;
top: 33px;
font-family: 'Recoleta';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 33px;
/* identical to box height */
text-align: center;
color: #0F0D0D;
}
